<td class="footer">
  <table class="rbcc footer__main">
    <tr>
      <table class="rbcc footer__main__col1" align="left">
        <td class="footer__main__col1__td" align="left">
          <a href="https://alignproperties.com"
            ><img src="https://i.imgur.com/kspJbuI.png" alt="Align Logo" class="footer__main__col2__td__img"
          /></a>
        </td>
      </table>

      <table class="rbcc footer__main__col2" align="right">
        <td class="footer__main__col2__td" align="left">
          <img src="https://i.imgur.com/jiBcmPY.png" alt="Align Address" class="footer__main__col2__td__img" />
        </td>
      </table>
    </tr>
  </table>
</td>
