<!-- @include head.inc.html -->

<body>
  <br />
  <!-- <br/> Makes it easier to add text when composing -->

  <table class="main rbcc">
    <tr>
      <td class="footer--simple" align="left">
        <h2><!-- @echo name --></h2>
        <br />
        <p>
          <strong><!--@echo position--></strong>
        </p>
        <p class="info">
          <a href="tel:<!--@echo direct-->">
            DIRECT:
            <span class="numbers"><!-- @echo direct--></span></a
          ><br />
          <a href="tel:<!--@echo mobile-->">
            MOBILE:
            <span class="numbers"><!-- @echo mobile--></span></a
          ><br />
          <a href="mailto:<!--@echo emailNoDomain-->@shapeproperties.com" target="blank"
            ><!--@echo emailNoDomain--><strong>@shapeproperties.com</strong></a
          >
        </p>
      </td>
    </tr>

    <tr class="rbcc">
      <!-- @include footer.inc.html -->
    </tr>
  </table>
</body>
